<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Get To Know Me <small>A little bit about myself</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <section class="widget">
                <header>
                    <h4><i class="fa fa-user"></i> Profile</h4>
                </header>
                <div class="body">
                    <form id="user-form" class="form-horizontal label-left"
                          novalidate="novalidate"
                          method="post"
                          data-validate="parsley">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-align-center">
                                    <img class="img-circle" src="img/me.jpg" alt="64x64" style="height: 112px;">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 class="no-margin">Mark Kenneth Ranosa <small><a href="https://www.dropbox.com/s/v5d85pcy8xei017/Mark%20Kenneth%20Ranosa.pdf">DOWNLOAD RESUME</a></small></h3>
                                <address>
                                	<strong>Backend Engineer</strong> at <strong><a>FashionTap</a></strong><br>
                                    <strong>Consultant</strong> at <strong><a href="http://www.irondata.com/">Iron Data LLC</a></strong><br>
                                    <strong>Founder and CTO</strong> at <strong><a>Roadaholic</a></strong><br>
                                    <strong>Founder and CTO</strong> at <strong><a>Frizzle</a></strong><br>
                                    <strong>Founder and CTO</strong> at <strong><a>Trankeelo</a></strong><br>
                                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:mark.ranosa@gmail.com">mark.ranosa@gmail.com</a><br>
                                    <abbr title="Work Phone">phone:</abbr> (+63) 917-249-6336
                                </address>
                            </div>
                        </div>
                        <fieldset>
                            <legend>I love creating apps! <small>Awesome, mediocre and no choice apps... </small></legend>

                            <p>
                            	Sweet brownie tart danish donut sweet powder. Apple pie sweet cheesecake. Dragée pie apple pie cupcake jelly soufflé tootsie roll sugar plum.
                            </p>

                            <p>
                            	Muffin tootsie roll topping sweet bonbon apple pie. Bonbon caramels marshmallow cookie croissant. Sweet cotton candy dessert.
                            </p>

                            <p>
                            	Oat cake gummi bears cheesecake caramels chocolate cake. Sweet sweet sesame snaps chocolate bar powder. Topping topping sesame snaps fruitcake bonbon sweet. Apple pie jelly beans unerdwear.com.
                            </p>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-md-5">
            <section class="widget">
                <header>
                    <h4><i class="fa fa-cogs"></i> Programming Language Proficiency</h4>
                </header>
                <div class="body">
                    <fieldset>
                    	<span>Beginner</span>
                    	<span class="pull-right">Guru</span>
	                    <div class="progress">
	                        <div class="progress-bar" style="width: 80%;">Java</div>
	                    </div>
	                    <div class="progress">
	                        <div class="progress-bar" style="width: 70%;">Javascript</div>
	                    </div>
	                    <div class="progress">
	                        <div class="progress-bar" style="width: 40%;">Scala</div>
	                    </div>
	                    <div class="progress">
	                        <div class="progress-bar" style="width: 10%;">Python</div>
	                    </div>
	                    <div class="progress">
	                        <div class="progress-bar" style="width: 10%;">C</div>
	                    </div>
	                    <div class="progress">
	                        <div class="progress-bar" style="width: 30%;">Ruby</div>
	                    </div>
                    </fieldset>
                </div>
            </section>
        </div>
    </div>
</div>