<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">My Notebook <small>We need to write stuff sometimes</small></h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="widget">
                <header class="text-center">
                    <h1>
                        Hello Blogging</span>
                    </h1>
                </header>
                <div class="body">
                	<div class="row">
        					<div class="col-md-3 text-center">
        						<span class="label label-important text-center">1/17/2014</span><br>
        						<span>on</span><br>
        						<code>fresh start</code>
        						<code>new year</code>
        						<code>blogging</code>
        						<code>work</code>
        						<code>startup</code>

        						
		                            
                                <div class="the-icons">
                                    <a><span><i class="fa fa-facebook"></i></span></a>
                                    <a><span><i class="fa fa-google-plus"></i></span></a>
                                    <a><span><i class="fa fa-twitter"></i></span></a>
                                </div>
		                            
		                        
        					</div>
        					<div class="col-md-9">
        							<p>So this is my very first day to blog! I usually keep my thoughts to myself most of the time, but I think its better if I start sharing.</p> 
        							<p>Ok, hmm what happened today. Well we had a great demo on my dayjob, it was a productive week overall. I have just added in this blog feature on my site. What sucks is that this site is not yet crawlable by google lol. Anyhow, so after this blog i'll probably play around with scala and social integration</p>
        							<p>Am helping out a cool startup on the side! Great team! Great idea! I just hope I am fast enough XD I need to get a new workstation soon, coz my consultancy is about to end. New MBP T_T errr it will cost me again.</p>
        							<p>I am hopeful though that I will put up my 2 startups this year, and find an employer who will sponsor me in toronto. Let's see what happens, its a great year to shine and earn more! Hackstrong and keep the fire burning!</p>

        							<a class="btn btn-info btn-lg pull-right">
										Read More! &nbsp; <i class="fa fa-comment"></i>
									</a>
        					</div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    

</div>