<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Apps Apps Apps <small>Projects that I contributed to</small></h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Iron Data Mobile <span class="label label-important pull-right">April 2012 - August 2013</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, grails, Sencha Touch 2, HTML5, Selenium Web Driver
                    </blockquote>
                    <p>Implemented features for inspection application under BMDC Versa R&D team.</p>
					<p>Hottest and most successful project in the company. Helped big boss get promoted to Director of Product.</p> 
                </div>
            </section>
        </div>

        <div class="col-md-6">
        	<section class="widget">
                <header>
                    <h3>
                        Instabuy <span class="label label-important pull-right">August 2011 – April 2012</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, Spring, Hibernate, jQuery/jQuery mobile, zend, Git, mySql, apache cxf, junit, mockito
                    </blockquote>
                    <p>Implemented features and fixed issues for mobile shopping solution as part of a team under Zappli.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        MyShopanion <span class="label label-important pull-right">July 2011 – August 2011</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, Spring, Hibernate, apache cxf
                    </blockquote>
                    <p>Implemented features and fixed issues for social mobile shopping companion as part of a team under Zappli.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        MEVEO <span class="label label-important pull-right">March 2011 – July 2011</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, Seam, Jboss, jQuery, css, JSF, Git-SVN, Oracle
                    </blockquote>
                    <p>Implemented features and fixed issues for billing solution as part of a team under Manaty. Also helped out in tweaking and optimizations of hibernate queries.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        GF Cloud <span class="label label-important pull-right">June 2010 – May 2011</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, Stripes, iBatis, Guice, jQuery, css, JSP, Git, MySQL
                    </blockquote>
                    <p>Independently designed and developed golden flag cloud platform based on given modules and milestones from the client.</p>
                    <p>Mainly worked on webapp, server-side responses for other mobile device were also handled.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        GF Cloud <span class="label label-important pull-right">April 2010 – June 2010</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, iBatis, SpringIoC, jQuery, css, JSF, Git, Oracle, PL/SQL
                    </blockquote>
                    <p>Implemented server-side base DAO codes and base testing framework. Created template codes for parsing POJO to a PL/SQL record and back.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        ABS-CBN Payroll System <span class="label label-important pull-right">February 2010 – April 2010</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, BIRT, J2SE5.0, J2EE, Hibernate, SpringIoC, Jquery, css, javascript, JSP, JSTL, Git Svn, Oracle
                    </blockquote>
                    <p>Mainly fixed issues for the current ABS-CBN payroll system along with a Software Architect under Orange & Bronze. Reports were also added and updated based in clients new requirements.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        MDTech <span class="label label-important pull-right">August 2009 - February 2010</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: OOA/OOD, J2SE6.0, J2EE, Hibernate, Spring IoC, Struts 2, CSS, Javascript, JSP, JSTL, Git, Jmock
                    </blockquote>
                    <p>Implemented features and fixed issues for MD Tech doctors billing system as part of a team under Orange & Bronze. Also helped out in tweaking and optimizations of hibernate queries.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        BDO-CLG <span class="label label-important pull-right">June 2009 – August 2009</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technologies used: J2SE6.0, J2EE, Hibernate, Spring IoC, Spring MVC, Spring webflow, css, javascript, JSP, JSTL, Git, Jmock, Xdoclet, Jasper Reports, appfuse 
                    </blockquote>
                    <p>Implemented features and fixed issues for the credit card internet banking system of BDO as part of a team under Orange & Bronze. Mainly handled administrator module reports.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Web2Go <span class="label label-important pull-right">January 2009 – March 2009</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: J2SE6.0, J2EE, Struts 2, Hibernate, Spring IoC, CSS, Javascript, JSP, JSTL, SVN 
                    </blockquote>
                    <p>Independently implemented features and fixed issues for the online site generator and maintainance engine under Ivant Technologies. Added shopping cart feature for the engine.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Db Synch Configuration Manager <span class="label label-important pull-right">November 2008 – December 2008</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: J2SE1.6, JSP, Servlet, DHTML, Javascript, scriptaculous, JSTL, jUnit 
                    </blockquote>
                    <p>Independently developed the configuration manager webapp for the DbSynch project under Azeus Systems.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Db Synch <span class="label label-important pull-right">July 2008 – December 2008</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: J2SE1.6, SQL, JDBC, SQLite, RMI, jUnit 
                    </blockquote>
                    <p>Developed a batch software for synchronizing remote databases along with a pair under Azeus Systems.</p>
                    <p>Independently developed second implementation due to bugs that has risen during the first implementation, introduced TDD and drastically reduced bugs generated.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Alarius Explorer <span class="label label-important pull-right">October 2006 – February 2007</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: Struts, J2EE, Servlet, JSP, Tag Libraries,Java, XML, Log4j, Alarius Slide, LDAP, WebDav 
                    </blockquote>
                    <p>Developed a Web-Based Explorer for WebDav Components along with two teamates under Alarius Systems. Ensured that code is optimized, feedback and brainstorm was frequent.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Security Badge  <span class="label label-important pull-right">June 2006 – October 2006</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: Struts, J2EE, Servlets, JSP, Tag Libraries,Java, XML, Log4j, Alarius Slide, LDAP 
                    </blockquote>
                    <p>Developed a Web-Based Badge System for Albany NanoTech along with two teamates under Alarius Systems. Ensured that code is optimized, feedback and brainstorm was frequent.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Contact Management System  <span class="label label-important pull-right">April 2006 – June 2006</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: Struts, J2EE, Servlets, JSP, Tag Libraries,Java, XML, Log4j, Alarius Slide, LDAP 
                    </blockquote>
                    <p>Developed a Web-Based Contact Management System for Albany NanoTech along with two teamates under Alarius Systems. Ensured that code is optimized, feedback and brainstorm was frequent.</p>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h3>
                        Alarius Work  <span class="label label-important pull-right">January 2006 – April 2006</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>
                    	Technical Environment: Struts 1, MVC, OOA/OOD, J2EE, Servlets, JSP, Custom Tag Libraries,Java, XML, Log4j, Alarius Slide, LDAP 
                    </blockquote>
                    <p>Developed an internal Web-Based Work Scheduling System along with two teamates under Alarius Systems. Ensured that code is optimized, feedback and brainstorm was frequent.</p>
                </div>
            </section>
        </div>
    </div>

</div>