<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Employment History <small>My stepping stones along the way</small></h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Black Marlin Data Corp / Iron Data LLC <span class="label label-important pull-right">April 2012 - Present</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>Software Engineer</blockquote>
                    <p>Responsible for implementation and integration of new features for tablet centric inspection application.</p> 
                    <p>Principal programmer at the company's research and development team.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Zappli <span class="label label-important pull-right">July 2011 – April 2012</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>J2EE Consultant</blockquote>
                    <p>Responsible for design, implementation and integration of new features for mobile centric shopping solutions. Bug fixes and code optimizations is also handled.</p> 
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Manaty <span class="label label-important pull-right">March 2011 – July 2011</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>J2EE Consultant</blockquote>
                    <p>Responsible for design, implementation and integration of new features for billing solution.</p> 
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Golden Flag LLP <span class="label label-important pull-right">June 2010 – May 2011</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>J2EE Consultant</blockquote>
                    <p>Designed, implemented modules.</p> 
                    <p>Responsible for implementing the cloud part of the SOA project, handled full life cycle development.</p> 
                    <p>From time to time fixed bugs and added new features to existing legacy codes.</p> 
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Fabulous Apps LLC <span class="label label-important pull-right">May 2009 – December 2010</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>J2EE Consultant</blockquote>
                    <p>Independently designed, implemented and deployed webapps. Daily feedback from product owner.</p> 
                    <p>Responsible for full life cycle java development.</p> 
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Orange and Bronze Software Labs, Ltd. Co. <span class="label label-important pull-right">March 2009 – June 2010</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>Jr Software Engineer</blockquote>
                    <p>Ensured that deliverables are always addressed even if deadline is tight. Was offered a senior software engineer position during end year skill assessment by project manager, but declined because personally I do not think I am not fit for the role yet.</p> 
                    <p>Responsible for design, implementation and integration of new features for new and existing webapps that was handled.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        IVANT Technologies <span class="label label-important pull-right">January 2009 – March 2009</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>J2EE Consultant</blockquote>
                    <p>Developed shopping cart feature for web2go engine.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Azeus Systems Philippines <span class="label label-important pull-right">June 2008 – December 2008</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>Junior Associate</blockquote>
                    <p>Helped company cut cost by developing a database synchronization program for remote and local databases. Responsible for full life cycle java development, along with another developer.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Alarius Systems LLC <span class="label label-important pull-right">January 2006 – February 2007</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>Junior J2EE Developer</blockquote>
                    <p>Responsible for full life cycle Java Development within J2EE applications, along with two team members. Optimized subroutines to improve performance of Projects by 20% to 50% . Code reviews, bug fix, documentations and code optimizations were done daily.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <section class="widget">
                <header>
                    <h3>
                        Freelance Software Engineer <span class="label label-important pull-right">June 2004 – Present</span>
                    </h3>
                </header>
                <div class="body">
                    <blockquote>You envision, I materialize</blockquote>
                    <p>Created / Sold / Assisted classmates, schoolmates, other university students and local politicians in their projects and school requirements. Clients are local and international.</p>
                </div>
            </section>
        </div>
    </div>

</div>